<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.frelance">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.frelance.notificationPkg.notificationMission_demandsPkg.NotificationMissionDemandActivity"/>
        <activity android:name="com.frelance.notificationPkg.notificationReviewPkg.NotificationReviewActivity" />
        <activity android:name="com.frelance.notificationPkg.notificationMessagePkg.NotificationMessageActivity" />
        <activity android:name="com.frelance.notificationPkg.notificationOffersPkg.NotificationOfferActivity" />
        <activity android:name="com.frelance.notificationPkg.NotificationActivity" />
        <activity android:name="com.frelance.forgetpasswordPkg.ForgetPasswordActivity" />
        <activity android:name="com.frelance.SelectLanguageDailoge" />
        <activity android:name="com.frelance.homefilterPkg.HomeCategoryFilterActivity" />
        <activity android:name="com.frelance.EditProfileConfirmation" />
        <activity android:name="com.frelance.CreditCardPayerActivity" />
        <activity
            android:name="com.frelance.paymentPkg.ComfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.chatPkg.Adapter.ChatActivityMain"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.paymentPkg.PaymentConfirmationPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.paymentPkg.CreditCardPayment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.makeAnOfferPkg.MakeAnOfferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.makeAnOfferPkg.OfferComfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.paymentPkg.DashboardPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.clientProfilePkg.ClinetProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.AcceptConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.detailsPkg.DetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.myDemandsPkg.MyDemandsOptionsPkg.MyRequestOpenlitigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.myDemandsPkg.MyDemandsOptionsPkg.myDemandOngoingPkg.MyDemandsOngoingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.myDemandsPkg.MyDemandsOptionsPkg.myDemandsCompletePkg.MyDemandsCompleteeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.myDemandsPkg.MyDemandsOptionsPkg.myDemandsDeliveryPkg.MyDemandsDeliveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.myMissionPkg.MyMissionOptionsPkg.liveryPkg.MyMissionDeliveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.myMissionPkg.MyMissionOptionsPkg.ongoingPkg.MyMissionOngoingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.myMissionPkg.MyMissionOptionsPkg.MyMissionInDisputeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.myMissionPkg.MyMissionOptionsPkg.proposePkg.MyMissionProposeeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.myMissionPkg.MyMissionOptionsPkg.completeePkg.MyMissionCompleteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.plusMorePkg.DashboardProfileOptionsPkg.DashboardParametersTermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.plusMorePkg.DashboardProfileOptionsPkg.DashboardPaymentOptionsPkg.CreditCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.plusMorePkg.DashboardProfileOptionsPkg.DashboardPaymentOptionsPkg.PrizePoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.plusMorePkg.DashboardProfileOptionsPkg.DashboardHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.plusMorePkg.DashboardProfileOptionsPkg.DashboardPaymentOptionsPkg.supportPkg.DashboardSupportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.plusMorePkg.DashboardProfileOptionsPkg.DashboardParametersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.plusMorePkg.DashboardProfileOptionsPkg.DeshboardSponsorshipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.plusMorePkg.PlusMoreFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.clientProfilePkg.ProfileRatingDescriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.chatPkg.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.homeTablayout.publishPkg.PostADemandActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme"
                    tools:ignore="ManifestResource" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.frelance.signUpInitial.SignupActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.loginInitial.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.frelance.OptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.SliderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.homePkg.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.frelance.splashBanner.BannerFragment"
            android:screenOrientation="portrait" />


        <activity android:name=".stripePaymentPkg.CheckoutActivityJava"
            android:screenOrientation="portrait">

        </activity>

        <service android:name="com.frelance.fcmintigationPkg.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
           <!-- <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>-->
        </service>
    </application>

</manifest>